.appModal:global(.ant-modal-wrap) {
  :global(.ant-modal-content) {
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 46px 46px 0px rgba(0, 0, 0, 0.09),
      0px 103px 62px 0px rgba(0, 0, 0, 0.05),
      0px 183px 73px 0px rgba(0, 0, 0, 0.01),
      0px 286px 80px 0px rgba(0, 0, 0, 0);
  }
}
