#footer {
  width: 100%;
  padding: 23px 80px;
  background-color: #1e1f25;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #424242;
  .left {
    span {
      color: #777e90;

      font-size: 16px;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }

  .right {
    gap: 24px;
    display: flex;
    a {
      color: #777e90;
      text-decoration: none;

      font-size: 16px;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }
}
