.appSelect {
  &:global(.ant-select),
  &:global(.ant-tree-select) {
    display: flex !important;
    align-items: center !important;
    min-width: 150px;
    height: 48px !important;
    :global(.ant-select-selector) {
      background-color: transparent !important;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      height: 100% !important;
      width: 100%;
      box-shadow: none !important;
      border-color: var(--select-primary-border) !important;
      padding: 0 12px 0 16px;
      :global(.ant-select-selection-overflow) {
        padding: 0 10px !important;
      }

      :global(.ant-select-selection-item) {
        align-items: center !important;
        border-radius: 4px !important;
        :global(.ant-select-selection-item-content) {
          margin-inline-end: 10px !important;
        }
      }
      :global(.ant-select-selection-search) {
        :global(.ant-select-selection-item) {
          margin-left: 6px !important;
        }
      }

      :global(.ant-select-selection-overflow-item) {
        :global(.ant-select-selection-item) {
          height: 100% !important;
          padding: 2px 10px;
        }
      }
    }
    &:global(.ant-select-lg) {
      :global(.ant-select-selector) {
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        height: 52px !important;
        :global(.ant-select-selection-overflow-item) {
          :global(.ant-select-selection-item) {
            height: 100% !important;
            padding: 0 10px;
          }
        }
      }
    }

    &:global(.ant-select-sm) {
      :global(.ant-select-selector) {
        font-size: 14px !important;
        line-height: 20px;
        width: 100%;
        height: 40px !important;
        :global(.ant-select-selection-overflow-item) {
          :global(.ant-select-selection-item) {
            height: 100% !important;
            padding: 6px 16px;
          }
        }
        :global(.ant-select-selection-placeholder) {
          padding-left: 4px !important;
        }
        :global(.ant-select-selection-item) {
          padding-left: 4px !important;
        }
      }
    }
  }

  &:global(.ant-select.ant-select-focused) {
    :global(.ant-select-selector) {
      border-color: var(--select-tree-checkbox-bg) !important;
    }
  }

  &:global(.ant-select:not(.ant-select-disabled):hover) {
    :global(.ant-select-selector) {
      border-color: var(--select-tree-checkbox-bg) !important;
    }
  }

  &:global(.ant-select.ant-select-status-error),
  &:global(.ant-select.ant-select-status-error:hover) {
    :global(.ant-select-selector) {
      border-color: var(--select-primary-border-error) !important;
    }
  }
}
