$primary: #327cc8;
$primary-2: #4b74ff;
$primary-darker: #005dbd;
$primary-lighter: rgba(67, 110, 255, 0.2);
$primary-lighter-2: rgba(67, 110, 255, 0.078);

$blue: #246cf9;
$blue-lighter-bg: rgba(67, 110, 255, 0.2);

$blue-1: #327cc8;
$blue-2: #0088cc;
$blue-3: #246cf950;
$blue-4: #246cf930;
$blue-6: rgba(50, 124, 200, 0.2);
$blue-7: rgba(50, 124, 200, 0.05);
$blue-8: #abc4e3;

$red: #dd3b3a;
$red-darker: #c31111;
$red-lighter: #ff5454;
// $red-lighter-bg
$red-lighter-2: rgba(255, 84, 84, 0.2);
$red-lighter-3: rgba(255, 112, 112, 0.1);
$red-lighter-4: rgba(221, 59, 58, 0.1);
$red-lighter-5: rgba(255, 84, 84, 0.3);

$purple: #7c5dd3;
$purple-darker: #5443c9;
$purple-lighter: rgba(108, 93, 211, 0.2);
$purple-lighter-1: rgba(108, 93, 211, 0.3);

$yellow: #ffc655;
$yellow-darker: #eaa621;
$yellow-lighter-2: rgba(234, 166, 33, 1);
// --yellow-lighter-bg
$yellow-lighter-3: rgba(255, 205, 107, 0.2);
$yellow-lighter-4: rgba(255, 199, 87, 0.3);

$green: #06bf71;
$green-darker: #049859;
$green-lighter: rgba(10, 252, 150, 0.2);
$green-lighter-2: rgba(6, 191, 113, 0.2);
$green-lighter-3: rgba(6, 191, 113, 0.3);

$gray: #e2e2ec;
$gray-darker: #c8c8d7;
$gray-lighter: #606375;
$gray-lighter-2: rgba(216, 216, 216, 0.2);
$gray-lighter-3: rgba(226, 226, 236, 0.5);
$gray-1: #8a8c92;
$gray-2: #727688;
$gray-3: #f4f8fb;
$gray-4: #b7b8bf;
$gray-5: #e2e2ec;
$gray-6: #424242;
$gray-7: #d3d3df;
$gray-8: #292b34;
$gray-9: #4d5266;
$gray-10: #292b35;
$gray-11: #7b7c82;
$gray-12: #444444;
$gray-13: #d3d3df;
$gray-14: #8e8e8e;
$gray-15: #364155;
$gray-16: #f6f6f7;
$gray-17: #757b8c;

$light-gray: #e9eef4;
$ivary-white: #f1f2f2;
$white: #fff;
$white-2: rgba(255, 255, 255, 0.8);

$black: #000;
$black-1: #141518;
$black-2: #1e1f25;
$back-4: #2a2b35;
$black-5: #2d313f;
$black-6: #252731;

$bg-header: #fcfcfd;
$bg-input-disabled: rgba(226, 226, 236, 0.5);
$bg-betting-limit: rgba(226, 226, 236, 0.2);
$bg-voided-status: rgba(226, 226, 236, 0.3);
$box-shadow-header: rgba(194, 194, 194, 0.25);

$border-table: rgba(50, 124, 200, 0.1);
