@use './theme.scss';
@use './font';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--text-main);
  background-color: var(--background-main);
  font-family: 'SF Pro Display';
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.ant-layout-content {
  background-color: var(--light-gray);
  height: auto;
  min-height: calc(100vh - 68px);
}

.ant-notification-notice-close {
  color: white !important;
  top: 10px !important;
  inset-inline-end: 10px !important;
}

@media (max-height: 760px) {
  .quick-set-modal {
    top: 0 !important;
  }
}
